{{define "base"}}
<!doctype html>
<html>
  <head>
    <title>
      {{.Title}}
    </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="icon" type="image/jpeg" href="static/magpie.jpg" />
  </head>
  <body>
    <br>
    <ul class="nav nav-tabs">
      <li>
        <a href="/config" class=config>
          <span class="glyphicon glyphicon-wrench"></span>
        </a>
      </li>
      <li>
        <a href="/">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </li>
      <!-- new notebook button exposes new notebook form -->
      <li>
        <a href="#" onclick="$('#new_notebook_form').removeClass('hidden')">
          + New Notebook +
        </a>
      </li>
      <!-- hidden new notebook form -->
      <li class="hidden" id="new_notebook_form">
        <a href="#">
          <input type="text" name="new_notebook_name" id="new_notebook_name" />
          <input onclick="new_notebook(this);" type="button" class="btn btn-primary" value="Create" />
          <input type="button" class="btn btn-danger" value="Cancel" onclick="uitoggler(this)" />
        </a>
      </li>

{{/* iterate though existing notebooks */}}
{{range $notebook := .Notebooks}}
        <li {{if eq $.NoteBookName $notebook}}class="active"{{end}}>
          <a href="/{{$notebook}}">
            {{$notebook}}
          </a>
        </li>
{{end}}
      </ul>
      <br>
      <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
        <!-- search -->
        <li>
          <form method="GET" action="/search">
            <div class="form-group">
              <input type="search" name="q" id="search" size="15"
              placeholder=" search" tabindex="10">
              <button class="btn btn-link">
                <span class="glyphicon glyphicon-search">
                </span>
              </button>
            </div>
          </form>
        </li>

{{if .NoteBookName}}
        <!-- new note button exposes new note form -->
        <li>
          <a href="#" onclick="$('#new_note_form').removeClass('hidden');">
            + New Note +
          </a>
        </li>
        <!-- hidden note form -->
        <li class="hidden" id="new_note_form">
          <a href="#">
            <input type="text" name="new_note_name" id="new_note_name" />
            <br><br>
            <input type="button" class="btn btn-primary" value="Create" onclick="new_note(this);" />
            <input type="button" class="btn btn-danger" value="Cancel" id="cancel" onclick="uitoggler(this);">
          </a>
        </li>
{{end}}

{{/* iterate through existing notes */}}
{{range $note := .Notes}}
        <li {{if eq $.NoteName $note}}class="active"{{end}}>
          <a href="/{{$.NoteBookName}}/{{$note}}">
            {{$note}}
          </a>
        </li>
{{end}}
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          {{template "content" .}}
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      //helpers
      var uitoggler = function(self){
        $(self).parents("li").first().addClass("hidden");
      };
      var new_notebook = function(self){
        var name = '/'+$("#new_notebook_name").val();
        $.post(name).done(function(){
          window.location = name;
        });
      };
      var new_note = function(self){
        var name = '/{{.NoteBookName}}/' + $("#new_note_name").val();
        $.post(name, data = {
           save: true
          ,note: ''
        }).done(function(){
          window.location = name;
        });
      };
    </script>
  </body>
</html>
{{end}}