{{define "content"}}
  {{if eq .Action "edit"}}
    <br>
    <form method="POST">
    <input type="submit" class="btn btn-success" value="Save" name="save">
    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel">
    <br>
    <br>
    <textarea cols="80" rows="20" name="note" tabindex="1">{{printf "%s" .NoteContents}}</textarea>
  {{else}}
    <br>
    <button class="btn btn-primary" onclick="window.location='{{ .NoteName }}?a=edit'">Edit</button>
    <button class='btn btn-danger' onclick="window.location='{{ .NoteName }}?a=delete'">Delete</button>
    <br>
    <br>
    <div id="rendered_note">
      <div id="savefail" class="alert alert-danger fade in hidden" data-dismiss="alert">
        <span onclick="$(this).parent().addClass('hidden');">×</span>
        There was a failure saving the change, please refresh and try again.
      </div>
      {{printf "%s" .NoteContents}}
    </div>
  {{end}}

  <script type=text/javascript>
    function checkbox_replace(el) {
      var checkbox_regex = /\[([x| ])\](.*)<\/p>/g;
      var replace_html   = "<label><input type=checkbox onchange=\"toggle(this)\" zindex=\"$$INDEX$$\"$$CHECKED$$>$$TEXT$$</label>";
      var index          = 0;
      $(el).html($(el).html().replace(checkbox_regex, function(a,b,c){
        return replace_html.replace("$$INDEX$$", index++).replace("$$TEXT$$", c).replace("$$CHECKED$$", b == " " ? "" : " checked=\"true\"");
      }));
    }
    function toggle(el) {
      var sindex = $(el).attr("zindex");
      var ostate = !$(el).is(":checked");
      $.post(
         "{{ .NoteName }}"
        ,data={
           note:   ''
          ,toggle: sindex
          ,save:   true
        }
      ).error(function(){
        if(ostate){
          $("input[zindex='" + sindex + "']").prop("checked", true);
        }else{
          $("input[zindex='" + sindex + "']").removeAttr("checked");
        }
        $("#savefail").removeClass("hidden");
      });
    }
  </script>

{{end}}